DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/your_database_name
SECRET_KEY=your-random-secret-key-change-this
ALGORITHM=your_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=number_minutes
REFRESH_TOKEN_EXPIRE_DAYS=number_days
REDIS_URL=change_this_to_your_redis_url